.content-container {
    display: flex;
    justify-content: space-between;

    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}

.container {
    margin: 0 $s-size;
    width: 90vw;

    @media(min-width: $desktop-breakpoint) {
        width: 82vw;
        margin-left: 16vw;
    }
}

.personal-container {
    margin: 10vh $s-size;
    width: 90vw;

    @media(min-width: $desktop-breakpoint) {
        margin-top: 0;
        width: 82vw;
        margin-left: 16vw;
    }
}

.filter-container {
    @extend .container;
    padding: $m-size 0 0 0;
    margin-top: $m-size;
}