.header {
    background: maroon;
    width: 100vw;
    height: 8vh;
    position: fixed;

    @media (min-width: $desktop-breakpoint) {
        height: 100vh;
        width: 15vw;
    }
}

.header__title {
    color: white;
    text-decoration: none;
    padding: $s-size;
    font-size: x-small;

    @media (min-width: $desktop-breakpoint) {
        font-size: $font-size-large;
    }
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;

    h1{
        font-size: x-small;
        color: white;
        font-family: 'comic sans MS';
        font-style: oblique;
    }

    @media (min-width: $desktop-breakpoint) {
        flex-direction: column;
        h1{
            display: block;
            font-size: 2em;
        }
    }
}

.line {
    display: none;
    @media (min-width: $desktop-breakpoint) {
        display: block;
        width: 10vw;
    }
}

.title {
    color: white;
    text-align: center;
}