.list-header {
    background: lighten($color: maroon, $amount: 60%);
    border: 1px solid darken($color: $off-white, $amount: 10%);
    display: flex;
    justify-content: space-between;
    padding: $m-size $m-size;
    margin-top: $m-size;
}

.list-body {
    margin-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($color: $off-white, $amount: 10%);
    border-radius: 5px;
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    transition: background .3 ease;
    margin-bottom: $s-size;
    &:hover {
        background: lighten($color: maroon, $amount: 65%);
    }

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
        align-items: center;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__body {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    width: 90%;
}

.list-item__subtitle {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__reads {
    margin: $s-size 0 0 0;

    @media (min-width: $desktop-breakpoint){
        margin: 0;
        padding-left: $s-size;
    }
}

.list-item__data {
    margin-right: $xl-size;
}