.page-header {
    background: lighten($color: maroon, $amount: 60%);
    padding: $l-size 0;
    margin-bottom: $l-size;
    margin-left: 20vw;
    width: 78vw;

    @media(min-width: $desktop-breakpoint) {
        width: 82vw;
        margin-left: 16vw;
    }
}

.page-header__content{
    display: flex;
    justify-content: space-between;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;

    @media(min-width: $desktop-breakpoint) {
        font-size: 2em;
    }
}

.filter-message {
    @extend .page-header__title;
    text-align: center;
}

.no-blogs-message {
    @extend .filter-message;
    color: $grey;
    font-size: x-large;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}